<!-- Order History section -->
<section class="py-5 bg-light">
  <div class="container px-5 my-5">
    <div class="row gx-5 align-items-center table-responsive">
      <div class="text-center mb-5">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-wallet-fill"></i></div>
        <h2 class="fw-bolder">Your Orders</h2>
      </div>
      <table *ngIf="orderHistoryList.length > 0" class="tabletable-striped table-bordered">
        <thead>
          <tr>
            <th width="20%">Order Tracking Number</th>
            <th width="10%">Total Price</th>
            <th width="10%">Total Quantity</th>
            <th width="10%">Date</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let tempOrder of orderHistoryList">
            <td>{{ tempOrder.orderTrackingNumber }}</td>
            <td>{{ tempOrder.totalPrice | currency: "USD" }}</td>
            <td>{{ tempOrder.totalQuantity }}</td>
            <td>{{ tempOrder.dateCreated | date: "medium" }}</td>
          </tr>
        </tbody>
      </table>

      <!-- if order history is empty -->
      <div *ngIf="orderHistoryList.length == 0" class="alert alert-warning col-md-12" role="alert">No orders found.</div>
    </div>
  </div>
</section>
