<li class="nav-item"><a *ngIf="!isAuthenticated" routerLink="/login" class="nav-link">Login</a></li>

<li *ngIf="isAuthenticated" class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Member </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li *ngIf="isAuthenticated && userFullName">
      <span class="dropdown-item">Welcome back {{ userFullName }}</span>
    </li>
    <li *ngIf="isAuthenticated && userFullName"><hr class="dropdown-divider" /></li>
    <li><a *ngIf="isAuthenticated" routerLink="/members" class="dropdown-item">Member Page</a></li>
    <li><a *ngIf="isAuthenticated" routerLink="/order-history" class="dropdown-item">Orders</a></li>
    <li><a *ngIf="isAuthenticated" (click)="logout()" class="dropdown-item">Logout</a></li>
  </ul>
</li>
